{% extends 'core/base.html' %}


{% load static %}

{% block content %}
{% include 'core/nav.html' with o1='Home' o1l='/' o2='New User' o2l='user/newUser' o3='Profile' o4='logout' ac1='active' %}

 
<div class="container mt-2">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'core/img/upsc.jpg' %}" alt="">
        </div>

        <div class="col-sm-6">
            <a name='anout'></a>
            <p class="text-dark">
                <b>
                    Now it become more easy to make notes with <span class="text-danger">Virtual Notes</span>
                    . Create your digital notes and get it from anywhere. Digital note taking is a combination of techniques that allow you to take and store your notes electronically. Most think of digital note taking as simply typing notes, but with digital handwriting apps and software such as Notud you can also handwrite, store, and share your digital notes.
                    How Students Digest Their Notes is More Important. Taking notes, whether digitally or manually through writing, has long been proven to be a valuable part of the learning experience. However, in the end, how students digest the notes they take is what is more important.
                </b>
            </p>
            <a href="" class="btn btn-outline-success">Make Notes</a>
        </div>
    </div>
<hr class="container">
    <div class="container mt-2">
        <div class="row">
            <div class="col-sm-6">
<p class="text-dark">
    <b>
        If you need more reasons to be convinced of the civil services, this one is sure to inspire you. If you become an IAS or IFS or IPS, and use your power in the right manner, you will be remembered by future generations as one of the greats who shaped the country’s future. Think of T N Seshan, Kiran Bedi, Ajit Doval, Nirupama Rao, U Sagayam, Narendra Kumar and so on. Don’t these names inspire you? Your name can be beside these if you clear the UPSC civil services.

Note: The above-mentioned points should motivate you to target IAS but the main motivation should come from the heart to serve the nation. Once you are sure to be in the Indian administration to bring positive changes to the society, you surely will get the right motivation to sit for the examination with full dedication.
    </b>
</p>
            </div>

            <div class="col-sm-6">
                <img src="{% static 'core/img/ias.jpg' %}" alt="" class='img-fluid'>
            </div>
        </div>
    </div>
</div>
<hr class="container">

<div class="container mt-2">
    <h4 class="text-dark text-center">
        Motivation Quotes
    </h4>

    <p class="text-center text-info">
        <b>
            <em>
                Time goes by and slips away

                Just as the sky turns from blue to grey.
                
                We are here but only for a short stay.
                
                Don’t let life pass with words you never say.
                
                 <br>
                
                Don’t live in anger, with fear and regrets.
                
                Seek forgiveness and lay your pain to rest.
                
                Don’t judge too quickly, as you may be wrong.
                
                Instead, choose to live life as an uplifting song.
                
                 <br>
                
                When tears fall, wipe them away
                
                As they will only last but for a day.
                
                Sometimes we hurt because we care.
                
                Sometimes life seems unfair.
                
                 <br>
                
                We make mistakes we wish we could change
                
                And wonder how our life could be rearranged.
                
                Second chances last only for so long, reach out to others
                
                As we are all sisters and brothers.
                
                 
                <br>
                There are angels in heaven that watch us every day.
                
                They look over us as we laugh and play.
                
                Live with joy, and when you lie down at night,
                
                Thank the Lord and release any strife.
            </em>
        </b>
    </p>
</div>

<div class="container mt-3">
    <h2 class="text-dark">
        Current Major Issues in India
    </h2>

    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'core/img/problem.jpg' %}" alt="" class="img-fluid mt-2" >
        </div>

        <div class="col-sm-6">
            <p class="text-dark">
               <b>
                Corruption. The most widely spread endemic in India is corruption, which must be handled quickly and wisely. ...
                <br>
Illiteracy. The percentage of illiteracy in India is alarming. ...
<br>
Education System. ...
<br>
Basic Sanitation. ...
<br>
Healthcare System. ...
<br>
Poverty. ...
<br>
Pollution. ...
<br>
Women's Safety.
<br>
               </b>
            </p>

            <p class="text-center">
                The population of India living below the poverty line declined from 37% in 2004-2005 to 22% in 2011-12 (Planning Commission data). In 2011-12, 22% of the population (one in five Indians) lived in extreme poverty. This figure is expected to decline to 5% by 2022, as per World Poverty Clock estimate. However, 80% of the poor in India live in villages. Rajasthan, Madhya Pradesh, Uttar Pradesh, Bihar, Jharkhand, Orissa, and Chhattisgarh have the poorest areas. 43% of the poor belong to Scheduled Caste or Scheduled Tribe categories, as per World Bank statistics (2016). This disparity needs immediate attention of the government.
                <a href="https://www.mapsofindia.com/my-india/society/current-major-issues-in-india" style='text-decoration:none; color:#04AA6D;' class='text-center' target='_blank'>Know More</a>
            </p>
        </div>
    </div>
   
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4">
            <img src="{% static 'core/img/i1.jpg' %}" alt="" class="img-fluid mt-2" >
        </div>
        <div class="col-sm-4">
            <img src="{% static 'core/img/i3.png' %}" alt="" class="img-fluid mt-2" >
        </div>
        <div class="col-sm-4">
            <img src="{% static 'core/img/i3.jpg' %}" alt="" class="img-fluid mt-2" >
        </div>
    </div>
</div>

<div class="container mt-3">

    <h3 class="text-dark text-center">
        Important Links
    </h3>
    
   <div class="container text-center">
    <b class="text-center">
        <a href="https://www.insightsonindia.com/motivation/" style='text-decoration:none; color:#04AA6D;' class='text-center' target='_blank'>Motivation Quotes</a>
        <br>
        <a href="https://www.sarkariresult.com/" style='text-decoration:none; color:#04AA6D;' class='text-center' target='_blank'>Sarkari Result</a>
        <br>
        <a href="https://www.google.com/search?q=ias&tbm=isch&ved=2ahUKEwjk5-n804f3AhW473MBHbnMBD8Q2-cCegQIABAA&oq=ias&gs_lcp=CgNpbWcQAzIHCCMQ7wMQJzIECAAQQzIHCAAQsQMQQzIECAAQQzIKCAAQsQMQgwEQQzIHCAAQsQMQQzIICAAQgAQQsQMyCwgAEIAEELEDEIMBMgQIABBDMgQIABBDOgUIABCABFC3BliuCWCNEGgAcAB4AIABiQGIAYgEkgEDMC40mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=hdZRYqSRLrjfz7sPuZmT-AM&bih=754&biw=1536&rlz=1C1RXQR_enIN969IN969#imgrc=pVguHaFwE1s4bM&imgdii=JdZ4MT8E7byOXM" style='text-decoration:none; color:#04AA6D;' class='text-center' target='_blank'>IAS Images</a>
        <br>
        <a href="https://www.mapsofindia.com/my-india/society/current-major-issues-in-india" style='text-decoration:none; color:#04AA6D;' class='text-center' target='_blank'>Problems</a>
        <br>
    </b>
   </div>

</div>
{% endblock content %}